{
  "all": true,
  "include": ["src/**/*.js"],
  "exclude": ["**/test/**", "**/node_modules/**"],
  "reporter": ["text", "html"],
  "check-coverage": true,
  "statements": 50,
  "branches": 50,
  "functions": 50,
  "lines": 50
}